body{
  background: white;
}
.fileupload{
  border: rgba(0,0,0,.2) solid 1px;
}
.container{
  display: flex;
  justify-content: center;
}
.buttons{
  padding: 10px;
}
.new_container{
  max-width: 70vw;
}
label{
  font-weight: bold;
}
.column{
  display: flex;
}
.prev{
  width: 40vw;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content:  center;
}
.mod{
  width: 40vw;
}
.form-group{
  padding: 5px;
}
.submit_holder{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.submit_holder input{
  margin: 10px;
}
.btn-primary{
  background-color: rgb(181, 218, 0);
      border-color: rgb(161, 208, 0);
}
.btn-primary:hover{
  background-color: rgb(171, 208, 0);
  border-color: rgb(160, 190, 0)
}
.btn-primary:active{
  background-color: rgb(171, 208, 0);
  border-color: rgb(160, 190, 0)
}
.btn-primary:focus{
  background-color: rgb(171, 208, 0);
  border-color: rgb(160, 190, 0);
  box-shadow: 0 0 0 3px rgba(160, 190, 0,.5)
}
.page-item.active .page-link{
    background-color: rgb(181, 218, 0);
    border-color: rgb(161, 208, 0);
}
.page-link{
  color:  rgb(171, 208, 0);
}
.page-link:hover{
  color: rgb(160, 190, 0);
}
