.navbar{
   -webkit-box-shadow: 0px 7px 25px 0px rgba(102,102,102,1);
   -moz-box-shadow: 0px 7px 25px 0px rgba(102,102,102,1);
   box-shadow: 0px 7px 25px 0px rgba(102,102,102,1);}

.header-text{
   font-size: 1.1em!important;
   padding: 10px!important;
   border-left: 2px black solid;
}
.header-intro{

      font-size: 1.1em!important;
      padding: 10px!important;
}

.li{
   margin: 10px 0!important;
}

@media screen and (max-width: 375px) {
   nav {
      padding: 0!important;
   }
}

.header-text, .header-intro, li a {
   padding: 5px 10px !important;
}
