.kuratorium{
   padding-bottom: 30px!important;
}
.kuratorium .card{
    height: 160px;
    margin: 5px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.3);
}


.card-block{
    height: 70%;
}
.card-block h3{
  padding: 5px;
}
.card-title{
    font-size: 23px;
}
.hatter {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -3;
  top: 0!important;
  padding-top: 74px;
  background-image: url('/assets/images/kezmuves3.jpg');
  background-size: contain;
  background-position: 0 103px;
}

.hatter img {
  width: 100vw;
  object-fit: cover;
  filter: blur(0px);
  min-height: 350px!important;
}

@media screen and (min-width: 400px) {
   .hatter{
      padding-top: 60px;
   }

}
@media screen and (max-width: 510px){
   .header-space{
      height: 10vh;
   }
}
.window{
   height: 50vh;
}
@media screen and (max-width: 840px){
   .window{
       height: 45vw;
   }
}
.bemut li{
    margin: 10px 15px!important;
}

.nyitokep{
    object-fit: cover;
    background-position: center;
}

/* PROJEKTEK */
.projekt {
   padding: 20px!important;
}

.projekt-text {
   padding: 5px;
}
.contact-info{
   padding: 20px 0!important;
}


.projekt-lead{
   margin: 0 2em 0;

   max-width: 280px;
}

@media screen and (max-width: 475px) {
   .projekt-lead{
      justify-content: flex-end!important;
   }
}
.nav-pills .nav-link.active{
   background-color: black;
   color: white!important;
}
.nav-link{
   color: black;
}
.nav-link:hover{
   color: black;
}
