body{
   background: #e3e8ef;
}
.card{
   border-color: black;
}

.myJumbotron {
   background-color: rgb(181, 218, 0);
}
main{
   min-height: calc(100vh - 167px)!important;
}
.form-control:focus{
  border-color: rgb(170, 200, 0);
}
