body{
   background: #e3e8ef;
}
.card{
   border-color: rgba(0,0,0,.6);
}
.list-group-item{
  background: rgba(0,0,0,0);
}
.myJumbotron {
   background-color: rgb(181, 218, 0);
}
main{
   min-height: calc(100vh - 167px)!important;
}
.form-control:focus{
  border-color: rgb(170, 200, 0);
}
.project-header{
  text-decoration: none!important;
}
.project-header > h4{
  transition: all ease-in-out .15s;
}
.project-header > h4:hover{
  color: #009900!important;
}
