
.contact-info{
   padding: 20px 0!important;
}

.lead{
   margin: 0 2em 0;

   max-width: 80vw;
}
.modal{
  justify-content: center;
  align-items: center
}
.modal-dialog{
  margin: 0!important
}
p > img{
  max-height: 150px;
  margin: 7px!important;
  width: auto!important;
  box-sizing: border-box;
  cursor: pointer;
  transition: all ease-in-out .15s;
}
p > img:hover{
  border-radius: 18px;
}
@media screen and (max-width: 475px) {
   .lead{
      justify-content: flex-end!important;
   }
}
