.projekt {
   padding: 20px!important;
}

.projekt-text {
   padding: 5px;
}
main{
   margin-bottom: 56px;
}
.contact-info{
   padding: 20px 0!important;
}

footer {
   background: black;
   padding: 1.5em 0 1em;
   color: grey;
   position: fixed;
   bottom: 0;
   width: 100vw;
}

.lead{
   margin: 0 2em 0;

   max-width: 280px;
}

@media screen and (max-width: 475px) {
   .lead{
      justify-content: flex-end!important;
   }
}
.nav-pills .nav-link.active{
   background-color: black;
   color: white!important;
}
.nav-link{
   color: black;
}
.nav-link:hover{
   color: black;
}
